.footer {
  padding: 1rem 2rem;
  background-color: var(--cor-primaria);
  color: var(--cor-texto-claro);
  text-align: center;
  border-top: 1px solid var(--cor-secundaria);
  margin-top: 2rem;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

.developerInfo {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  margin-bottom: 0.5rem;
  gap: 5px; /* Espaço entre o texto e o logo */
}

.developerInfo p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1; /* Garante alinhamento vertical com o logo */
}

.footer a {
  color: var(--cor-destaque);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
